@media only screen {
	html,
	body {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	body {
		background-color: #fff;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}
	* {
		margin: 0;
		padding: 0;
		position: relative;
	}
	button {
		padding: 0.5rem 1rem;
		border-radius: 5px;
		border: none;
		cursor: pointer;
		background-color: #000;
		color: #fff;
		font-size: 1em;
		font-weight: bold;
	}
	button:hover {
		opacity: 0.7;
	}
	canvas {
		max-height: 100%;
	}
}
